# Desribes and testing of functions for data processing

In [23]:
import pandas as pd
import numpy as np

from data_processing import *

# Transformation insert

Function for inserting transformed column next to the source column

In [24]:
test_df = pd.DataFrame(
    {"var" : np.random.normal(3, 5, 200)}
)

insert_next(test_df, "var", test_df["var"] / 20)

test_df

           var  var_transf
0     5.960037    0.298002
1     5.486053    0.274303
2     1.390856    0.069543
3     7.373866    0.368693
4    -3.973315   -0.198666
..         ...         ...
195  15.360194    0.768010
196   3.964130    0.198207
197   3.768653    0.188433
198  -3.838969   -0.191948
199   3.749608    0.187480

[200 rows x 2 columns]

In [25]:
insert_next(test_df, "var", test_df["var"]*20)

           var  var_transf
0     5.960037  119.200738
1     5.486053  109.721059
2     1.390856   27.817117
3     7.373866  147.477323
4    -3.973315  -79.466297
..         ...         ...
195  15.360194  307.203873
196   3.964130   79.282606
197   3.768653   75.373063
198  -3.838969  -76.779378
199   3.749608   74.992167

[200 rows x 2 columns]