# Desribes and testing of functions for data processing

In [1]:
import pandas as pd
import numpy as np

from data_processing import *

In [2]:
test_df = pd.DataFrame({
    "num_var" : np.random.normal(3, 5, 200),
    "cut_var" : np.random.choice(['a', 'b'])
})

# insert_next

Quick insertion following the column selected by name for pandas.DataFrame.

In [3]:
insert_next(test_df, "num_var", test_df["num_var"] / 20)

test_df

      num_var  num_var_transf cut_var
0    1.334654        0.066733       a
1   -1.301246       -0.065062       a
2   -0.006977       -0.000349       a
3   -3.786928       -0.189346       a
4    9.213614        0.460681       a
..        ...             ...     ...
195 -5.679122       -0.283956       a
196  2.455701        0.122785       a
197  5.641448        0.282072       a
198  3.578518        0.178926       a
199  5.482662        0.274133       a

[200 rows x 3 columns]

In [4]:
insert_next(test_df, "num_var", test_df["var"]*20)

KeyError: 'var'

# get_num_cond

Get condition for selection from pandas.DataFrame numeric data types

In [ ]:
get_num_cond(test_df)

# pd_OHE

Conduct one hot encoding for pandas data frame with the result as pandas.DataFrame and columns in reading format.

In [ ]:
test_df = pd.DataFrame({
        'my_col' : ['a', 'b', 'b', 'a', np.NaN],
        'my_col2': ['d', 'v', 't', 'g', 'q']
})

pd_OHE(test_df, sk_OHE_kwarg = {'drop':['a', 'v']})