# Desribes and testing of functions for data processing

In [1]:
import pandas as pd
import numpy as np

from data_processing import *

In [2]:
test_df = pd.DataFrame({
    "num_var" : np.random.normal(3, 5, 200),
    "cut_var" : np.random.choice(['a', 'b'])
})

# insert_next

Quick insertion following the column selected by name for pandas.DataFrame.

In [3]:
insert_next(test_df, "num_var", test_df["num_var"] / 20)

test_df

      num_var  num_var_transf cut_var
0    3.057002        0.152850       b
1    5.790294        0.289515       b
2    5.595664        0.279783       b
3    3.650607        0.182530       b
4   -5.168614       -0.258431       b
..        ...             ...     ...
195  6.272091        0.313605       b
196 -3.917972       -0.195899       b
197  4.847340        0.242367       b
198  0.371576        0.018579       b
199  7.188096        0.359405       b

[200 rows x 3 columns]

In [4]:
insert_next(test_df, "num_var", test_df["num_var"]*20)

      num_var  num_var_transf cut_var
0    3.057002       61.140047       b
1    5.790294      115.805887       b
2    5.595664      111.913281       b
3    3.650607       73.012139       b
4   -5.168614     -103.372278       b
..        ...             ...     ...
195  6.272091      125.441828       b
196 -3.917972      -78.359437       b
197  4.847340       96.946802       b
198  0.371576        7.431521       b
199  7.188096      143.761915       b

[200 rows x 3 columns]

# get_num_cond

Get condition for selection from pandas.DataFrame numeric data types

In [5]:
get_num_cond(test_df)

num_var            True
num_var_transf     True
cut_var           False
dtype: bool

# pd_OHE

Conduct one hot encoding for pandas data frame with the result as pandas.DataFrame and columns in reading format.

In [6]:
test_df = pd.DataFrame({
        'my_col' : ['a', 'b', 'b', 'a', np.NaN],
        'my_col2': ['d', 'v', 't', 'g', 'q']
})

pd_OHE(test_df, sk_OHE_kwarg = {'drop':['a', 'v']})

   my_col_b  my_col_nan  my_col2_d  my_col2_g  my_col2_q  my_col2_t
0       0.0         0.0        1.0        0.0        0.0        0.0
1       1.0         0.0        0.0        0.0        0.0        0.0
2       1.0         0.0        0.0        0.0        0.0        1.0
3       0.0         0.0        0.0        1.0        0.0        0.0
4       0.0         1.0        0.0        0.0        1.0        0.0

# get_join_repl_rule
Get an joining rule for the levels of some variable for further use in `pandas.Series.replace`

In [7]:
get_merge_repl_rule([['lev1', 'lev2'], ['lev3']])

{'lev1': 'lev1_lev2', 'lev2': 'lev1_lev2', 'lev3': 'lev3'}

# np_replace

In [23]:
X = np.random.choice(
    ['a', 'b', 'c'], [20, 15]
)

X

array([['a', 'a', 'c', 'a', 'c', 'c', 'c', 'a', 'a', 'a', 'c', 'c', 'a',
        'a', 'b'],
       ['c', 'b', 'c', 'a', 'a', 'a', 'a', 'a', 'a', 'a', 'a', 'b', 'c',
        'a', 'c'],
       ['b', 'c', 'a', 'c', 'a', 'c', 'a', 'c', 'a', 'a', 'a', 'b', 'a',
        'b', 'b'],
       ['b', 'a', 'b', 'b', 'c', 'a', 'c', 'a', 'c', 'c', 'b', 'b', 'a',
        'b', 'c'],
       ['a', 'a', 'b', 'c', 'b', 'c', 'b', 'a', 'a', 'a', 'a', 'b', 'c',
        'c', 'b'],
       ['c', 'a', 'b', 'c', 'b', 'a', 'a', 'b', 'a', 'c', 'a', 'a', 'b',
        'a', 'a'],
       ['a', 'c', 'c', 'b', 'b', 'c', 'c', 'b', 'c', 'a', 'b', 'c', 'c',
        'c', 'c'],
       ['c', 'c', 'c', 'b', 'c', 'b', 'b', 'b', 'c', 'a', 'b', 'b', 'c',
        'c', 'a'],
       ['c', 'c', 'b', 'a', 'b', 'c', 'c', 'b', 'b', 'a', 'c', 'b', 'b',
        'c', 'a'],
       ['c', 'b', 'b', 'c', 'b', 'b', 'c', 'a', 'c', 'a', 'c', 'b', 'a',
        'a', 'c'],
       ['b', 'c', 'b', 'c', 'c', 'a', 'c', 'b', 'b', 'a', 'a', 'a', 'c',
        'b', 'a'],
       ['a', 'c', 'a', 'a', 'b', 'a', 'b', 'a', 'c', 'c', 'c', 'a', 'c',
        'a', 'a'],
       ['b', 'c', 'a', 'b', 'b', 'a', 'c', 'a', 'a', 'a', 'b', 'a', 'b',
        'b', 'a'],
       ['c', 'b', 'b', 'c', 'a', 'c', 'c', 'b', 'c', 'a', 'c', 'a', 'b',
        'c', 'a'],
       ['a', 'b', 'b', 'b', 'a', 'c', 'a', 'b', 'c', 'a', 'b', 'b', 'c',
        'a', 'c'],
       ['b', 'c', 'a', 'b', 'c', 'a', 'b', 'c', 'c', 'a', 'a', 'b', 'a',
        'b', 'a'],
       ['a', 'c', 'c', 'a', 'c', 'a', 'c', 'b', 'b', 'c', 'a', 'c', 'a',
        'a', 'c'],
       ['b', 'a', 'b', 'c', 'b', 'c', 'c', 'a', 'b', 'c', 'a', 'b', 'a',
        'b', 'c'],
       ['b', 'c', 'b', 'b', 'c', 'a', 'b', 'a', 'b', 'a', 'a', 'a', 'c',
        'c', 'b'],
       ['c', 'b', 'c', 'b', 'a', 'c', 'b', 'c', 'c', 'a', 'c', 'c', 'a',
        'b', 'a']], dtype='<U1')

In [24]:
np_replace(X, {'a':'test_a', 'b': "test_b", 'a':"test_a2"})

array([['test_a2', 'test_a2', 'c', 'test_a2', 'c', 'c', 'c', 'test_a2',
        'test_a2', 'test_a2', 'c', 'c', 'test_a2', 'test_a2', 'test_b'],
       ['c', 'test_b', 'c', 'test_a2', 'test_a2', 'test_a2', 'test_a2',
        'test_a2', 'test_a2', 'test_a2', 'test_a2', 'test_b', 'c',
        'test_a2', 'c'],
       ['test_b', 'c', 'test_a2', 'c', 'test_a2', 'c', 'test_a2', 'c',
        'test_a2', 'test_a2', 'test_a2', 'test_b', 'test_a2', 'test_b',
        'test_b'],
       ['test_b', 'test_a2', 'test_b', 'test_b', 'c', 'test_a2', 'c',
        'test_a2', 'c', 'c', 'test_b', 'test_b', 'test_a2', 'test_b',
        'c'],
       ['test_a2', 'test_a2', 'test_b', 'c', 'test_b', 'c', 'test_b',
        'test_a2', 'test_a2', 'test_a2', 'test_a2', 'test_b', 'c', 'c',
        'test_b'],
       ['c', 'test_a2', 'test_b', 'c', 'test_b', 'test_a2', 'test_a2',
        'test_b', 'test_a2', 'c', 'test_a2', 'test_a2', 'test_b',
        'test_a2', 'test_a2'],
       ['test_a2', 'c', 'c', 'test_b', 'test_b', 'c', 'c', 'test_b', 'c',
        'test_a2', 'test_b', 'c', 'c', 'c', 'c'],
       ['c', 'c', 'c', 'test_b', 'c', 'test_b', 'test_b', 'test_b', 'c',
        'test_a2', 'test_b', 'test_b', 'c', 'c', 'test_a2'],
       ['c', 'c', 'test_b', 'test_a2', 'test_b', 'c', 'c', 'test_b',
        'test_b', 'test_a2', 'c', 'test_b', 'test_b', 'c', 'test_a2'],
       ['c', 'test_b', 'test_b', 'c', 'test_b', 'test_b', 'c', 'test_a2',
        'c', 'test_a2', 'c', 'test_b', 'test_a2', 'test_a2', 'c'],
       ['test_b', 'c', 'test_b', 'c', 'c', 'test_a2', 'c', 'test_b',
        'test_b', 'test_a2', 'test_a2', 'test_a2', 'c', 'test_b',
        'test_a2'],
       ['test_a2', 'c', 'test_a2', 'test_a2', 'test_b', 'test_a2',
        'test_b', 'test_a2', 'c', 'c', 'c', 'test_a2', 'c', 'test_a2',
        'test_a2'],
       ['test_b', 'c', 'test_a2', 'test_b', 'test_b', 'test_a2', 'c',
        'test_a2', 'test_a2', 'test_a2', 'test_b', 'test_a2', 'test_b',
        'test_b', 'test_a2'],
       ['c', 'test_b', 'test_b', 'c', 'test_a2', 'c', 'c', 'test_b', 'c',
        'test_a2', 'c', 'test_a2', 'test_b', 'c', 'test_a2'],
       ['test_a2', 'test_b', 'test_b', 'test_b', 'test_a2', 'c',
        'test_a2', 'test_b', 'c', 'test_a2', 'test_b', 'test_b', 'c',
        'test_a2', 'c'],
       ['test_b', 'c', 'test_a2', 'test_b', 'c', 'test_a2', 'test_b',
        'c', 'c', 'test_a2', 'test_a2', 'test_b', 'test_a2', 'test_b',
        'test_a2'],
       ['test_a2', 'c', 'c', 'test_a2', 'c', 'test_a2', 'c', 'test_b',
        'test_b', 'c', 'test_a2', 'c', 'test_a2', 'test_a2', 'c'],
       ['test_b', 'test_a2', 'test_b', 'c', 'test_b', 'c', 'c',
        'test_a2', 'test_b', 'c', 'test_a2', 'test_b', 'test_a2',
        'test_b', 'c'],
       ['test_b', 'c', 'test_b', 'test_b', 'c', 'test_a2', 'test_b',
        'test_a2', 'test_b', 'test_a2', 'test_a2', 'test_a2', 'c', 'c',
        'test_b'],
       ['c', 'test_b', 'c', 'test_b', 'test_a2', 'c', 'test_b', 'c', 'c',
        'test_a2', 'c', 'c', 'test_a2', 'test_b', 'test_a2']], dtype='<U7')