# Desribes and testing of functions for data processing

In [4]:
import pandas as pd
import numpy as np

from data_processing import *

# Transformation insert

Function for inserting transformed column next to the source column

In [21]:
test_df = pd.DataFrame(
    {"var" : np.random.normal(3, 5, 200)}
)

insert_next(test_df, "var", test_df["var"] / 20)

test_df

           var  var_transf
0     4.540886    0.227044
1     1.895747    0.094787
2     6.512746    0.325637
3     6.341501    0.317075
4    -3.181957   -0.159098
..         ...         ...
195   5.589345    0.279467
196  -0.026166   -0.001308
197   8.475501    0.423775
198  11.162683    0.558134
199  -0.644084   -0.032204

[200 rows x 2 columns]

In [22]:
insert_next(test_df, "var", test_df["var"]*20)

           var  var_transf
0     4.540886   90.817713
1     1.895747   37.914941
2     6.512746  130.254923
3     6.341501  126.830018
4    -3.181957  -63.639137
..         ...         ...
195   5.589345  111.786905
196  -0.026166   -0.523313
197   8.475501  169.510014
198  11.162683  223.253652
199  -0.644084  -12.881681

[200 rows x 2 columns]